language: python
sudo: false
cache: pip

python:
  - "3.5"

addons:
  apt:
    packages:
      - expect-dev  # provides unbuffer utility
      - python-lxml  # because pip installation is slow
      - python-simplejson
      - python-serial
      - python-yaml

env:
  global:
  - VERSION="11.0" TESTS="0" LINT_CHECK="0"
  - TRANSIFEX_USER='transbot@odoo-community.org'
  - secure: "P8zdckjpfLcTbz/kq8FNOgVMHjFNESk0H5/lHQQinBg7nr3oiWIg1tStroOJQtIn26+qWT2GZUX8V90FNCH6aGvqH8oIGguhZGibFHINarho2LjQd5DhhyIgm0qF12H31hFLOQokmlyx9r3A8Sw6EWPtWQ/vFBsL97ErhMK7AyX9vhDZCvpLX/zQyGpSXGNbogpmlhrV4z1RBBE9AtvPienTqkdz86a5wFOSjXM8Is5QVWZfKyFIxytiIxDERt+AS71FNXdrh73qRNbMIkULO+ROcdgGcMXdigiSZmny3n/kkty3I7lZO6K6bXLPugfii4Y2EiyJm+Mod99p9AAPAdifKbXF+ZJDWqkVbeooCBt93V1juQwsn1RT1Yms3U6F2lrw9oMm1M27ht+DSfcKMhBdtvDMN4tzU1zwxUx9kZ+oPmSDqSvPECIlUpHOvn4IUBEEuO1fHzooSX9scMFKJAx4Q7wsuPyUySFUy0J22AlbJcKcZOqtVw3++9WH1foxSWxMHjL/UjLSAn1B03xJAj3hALHMj61+R1HA/9v1/UCigwxkpbsMrWJK6SkXqBUcd5ECiHEScwNXr0nKLEydZOqorofPk4BjroGGyTd2h1iqa1suZ2zb3QJXcPvlsxzO/hvLm+wdzMyeJTe4I78kOkfGlmzSWJgoEq2ngad1rng="
  
  matrix:
  - LINT_CHECK="1"
  - TRANSIFEX="1"
  - TESTS="1" ODOO_REPO="OCA/OCB"
  - TESTS="1" ODOO_REPO="odoo/odoo"


install:
  - git clone --depth=1 https://github.com/OCA/maintainer-quality-tools.git ${HOME}/maintainer-quality-tools
  - export PATH=${HOME}/maintainer-quality-tools/travis:${PATH}
  - travis_install_nightly

script:
  - travis_run_tests

after_success:
  - travis_after_tests_success
